<br/>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <!--<img src="..." class="card-img-top" alt="...">-->
            <div class="card-body">
                <h5 class="card-title">Thor</h5>
                <p class="card-text">Thor é um cachorro da raça fila visto pela última vez perto da rodoviária</p>
                <ul>
                    <li><strong>Idade</strong>: 4 anos</li>
                    <li><strong>Cidade/Estado</strong>: Marília / SP</li>
                    <li><strong>Status</strong>: Perdido</li>            

                </ul>
                <a href="#" class="btn btn-primary">Encontrei!</a>
            </div>
        </div>
    </div>
  <div class="col">
    <div class="card">
      <!--<img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title">Thor</h5>
        <p class="card-text">Thor é um cachorro da raça fila visto pela última vez perto da rodoviária</p>
        <ul>
            <li><strong>Idade</strong>: 4 anos</li>
            <li><strong>Cidade/Estado</strong>: Marília / SP</li>
            <li><strong>Status</strong>: Perdido</li>            

        </ul>
        <a href="#" class="btn btn-primary">Encontrei!</a>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <!--<img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title">Thor</h5>
        <p class="card-text">Thor é um cachorro da raça fila visto pela última vez perto da rodoviária</p>
        <ul>
            <li><strong>Idade</strong>: 4 anos</li>
            <li><strong>Cidade/Estado</strong>: Marília / SP</li>
            <li><strong>Status</strong>: Perdido</li>            

        </ul>
        <a href="#" class="btn btn-primary">Encontrei!</a>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <!--<img src="..." class="card-img-top" alt="...">-->
      <div class="card-body">
        <h5 class="card-title">Thor</h5>
        <p class="card-text">Thor é um cachorro da raça fila visto pela última vez perto da rodoviária</p>
        <ul>
            <li><strong>Idade</strong>: 4 anos</li>
            <li><strong>Cidade/Estado</strong>: Marília / SP</li>
            <li><strong>Status</strong>: Perdido</li>            

        </ul>
        <a href="#" class="btn btn-primary">Encontrei!</a>

      </div>
    </div>
  </div>
</div>